/vendor
/node_modules
/public/storage
/public/imagesUpload
Homestead.yaml
Homestead.json
.env
.idea
.idea/dataSources.local.xml
.idea/workspace.xml
.idea/dataSources.ids
.idea/dataSources.xml
resources/views/vendor/datatables/
